<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- *Mapper.xml에서 사용할 별칭 정의 -->
	<typeAliases>
		<typeAlias alias="TestVO" type="root.team.com.vo.TestVO"/>
		<typeAlias alias="SellerVO" type="root.team.com.vo.SellerVO"/>
		<typeAlias alias="BuyerVO" type="root.team.com.vo.BuyerVO"/>
	</typeAliases>

</configuration>